<html>
	<body>
		<p>to install Nodemon, you need run the command prompt and write 'npm install -g nodemon' </br ></p>
		<p>to run Nodemon, you need run the command prompt and write 'nodemon @project_name' </br ></p>
	</body>
</html>